body {
  background-color: #35495e;
  color: #eee;
}

.app {
  text-align: center;
}

.count {
  font-size: 3rem;
  font-weight: bold;
}

button {
  background-color: #41b883;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  margin: 0 0.5rem;
  transition: background-color 0.2s ease-in;
  color: snow;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  background-color: #379c6f;
}

button:last-of-type {
  margin: 0;
}
